body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player,
.com {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player {
    text-align: center;
}

.com {
    text-align: center;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
.btnReset{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.reset {
    background-color: #dc3545;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.reset:hover {
    background-color: #bd2130;
}
main .container .com .comContcards img{
    width: 100px;
}
main .container .com .comContcards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
main .container .player .playerContCards img{
    width: 100px;
}
main .container .player .playerContCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}